<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Copie listado de jugadores </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-textarea label="" [(ngModel)]="name" placeholder="Copie aquí lista de jugadores"></ion-textarea>

  </ion-item>
</ion-content>